* {
  line-height: 1;
}

body {
  background-color: #e1a0a0;
  margin: 0;
  padding: 0;
}

.wraper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wraper .game_screen {
  width: 30%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 0px 1fr 0px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  aspect-ratio: 1/1;
}
.wraper .game_screen > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wraper .game_screen > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wraper .game_screen > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.wraper .game_screen > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wraper .game_screen > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.wraper .game_screen > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.wraper .game_screen > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.wraper .game_screen > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.wraper .game_screen > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
@media screen and (max-width: 1300px) {
  .wraper .game_screen {
    width: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .wraper .game_screen {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .wraper .game_screen {
    width: 65%;
  }
}
@media screen and (max-width: 600px) {
  .wraper .game_screen {
    width: 80%;
  }
}
.wraper .game_screen .move {
  background-color: #c0a5a5;
  border: 1px solid black;
  opacity: 0.5;
  position: relative;
}
.wraper .game_screen .move p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  text-align: center;
  margin: 0;
}
.wraper .game_screen .move:hover {
  opacity: 1;
}
.wraper .game_screen .reload {
  border-radius: 15px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  aspect-ratio: 2/1;
  letter-spacing: 3px;
  background-color: #fff;
  position: absolute;
  right: -75%;
  top: 37%;
}
.wraper .game_screen .final {
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.wraper .game_screen .final.win {
  z-index: 3;
  -webkit-animation: show 0.4s ease both;
          animation: show 0.4s ease both;
}
@-webkit-keyframes show {
  0% {
    background-color: none-;
    opacity: 1;
  }
  100% {
    background-color: #8a4040;
    opacity: 0.8;
  }
}
@keyframes show {
  0% {
    background-color: none-;
    opacity: 1;
  }
  100% {
    background-color: #8a4040;
    opacity: 0.8;
  }
}
.wraper .game_screen .final.row1Show::before {
  content: "";
  width: 16.5%;
  aspect-ratio: 1/1;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  background-color: #fff;
  border-radius: 50px;
  -webkit-animation: row1Show 0.8s ease both 0.1s;
          animation: row1Show 0.8s ease both 0.1s;
}
@-webkit-keyframes row1Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 1/5;
  }
}
@keyframes row1Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 1/5;
  }
}
.wraper .game_screen .final.row2Show::before {
  content: "";
  width: 16.5%;
  aspect-ratio: 1/5;
  background-color: #fff;
  border-radius: 50px;
  -webkit-animation: row2Show 0.8s ease both 0.1s;
          animation: row2Show 0.8s ease both 0.1s;
}
@-webkit-keyframes row2Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 1/5;
  }
}
@keyframes row2Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 1/5;
  }
}
.wraper .game_screen .final.row3Show::before {
  content: "";
  width: 16.5%;
  -webkit-animation: row3Show 0.8s ease both 0.1s;
          animation: row3Show 0.8s ease both 0.1s;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  background-color: #fff;
  border-radius: 50px;
}
@-webkit-keyframes row3Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 1/5;
  }
}
@keyframes row3Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 1/5;
  }
}
.wraper .game_screen .final.line1Show::before {
  content: "";
  height: 16.5%;
  aspect-ratio: 1/1;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  background-color: #fff;
  border-radius: 50px;
  -webkit-animation: line1Show 0.8s ease both 0.1s;
          animation: line1Show 0.8s ease both 0.1s;
}
@-webkit-keyframes line1Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 5/1;
  }
}
@keyframes line1Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 5/1;
  }
}
.wraper .game_screen .final.line2Show::before {
  content: "";
  height: 16.5%;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50px;
  -webkit-animation: line2Show 0.8s ease both 0.1s;
          animation: line2Show 0.8s ease both 0.1s;
}
@-webkit-keyframes line2Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 5/1;
  }
}
@keyframes line2Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 5/1;
  }
}
.wraper .game_screen .final.line3Show::before {
  content: "";
  height: 16.5%;
  aspect-ratio: 1/1;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  background-color: #fff;
  border-radius: 50px;
  -webkit-animation: line3Show 0.8s ease both 0.1s;
          animation: line3Show 0.8s ease both 0.1s;
}
@-webkit-keyframes line3Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 5/1;
  }
}
@keyframes line3Show {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 5/1;
  }
}
.wraper .game_screen .final.diadonale1Show::before {
  content: "";
  width: 16.5%;
  aspect-ratio: 1/1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
  border-radius: 50px;
  -webkit-animation: diadonaleShow 0.8s ease both 0.1s;
          animation: diadonaleShow 0.8s ease both 0.1s;
}
.wraper .game_screen .final.diadonale2Show::before {
  content: "";
  width: 16.5%;
  aspect-ratio: 1/1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  border-radius: 50px;
  -webkit-animation: diadonaleShow 0.8s ease both 0.1s;
          animation: diadonaleShow 0.8s ease both 0.1s;
}
@-webkit-keyframes diadonaleShow {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 2/13;
  }
}
@keyframes diadonaleShow {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 2/13;
  }
}

.X {
  position: relative;
  -webkit-transition: -webkit-transform ease-out 0.7s;
  transition: -webkit-transform ease-out 0.7s;
  transition: transform ease-out 0.7s;
  transition: transform ease-out 0.7s, -webkit-transform ease-out 0.7s;
}
.X::before {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #fff;
  -webkit-animation: animX ease 0.7s both;
          animation: animX ease 0.7s both;
}
.X::after {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
  -webkit-animation: animX ease 0.7s both;
          animation: animX ease 0.7s both;
}
@-webkit-keyframes animX {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 2/10;
  }
}
@keyframes animX {
  0% {
    aspect-ratio: 1/1;
  }
  100% {
    aspect-ratio: 2/10;
  }
}

.O {
  position: relative;
  -webkit-transition: -webkit-transform ease-out 0.7s;
  transition: -webkit-transform ease-out 0.7s;
  transition: transform ease-out 0.7s;
  transition: transform ease-out 0.7s, -webkit-transform ease-out 0.7s;
}
.O::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 40%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #bbb;
}
.O::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-animation: animO ease 0.7s both;
          animation: animO ease 0.7s both;
}
@-webkit-keyframes animO {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(2.4);
            transform: translate(-50%, -50%) scale(2.4);
  }
}
@keyframes animO {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(2.4);
            transform: translate(-50%, -50%) scale(2.4);
  }
}